<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-nav-title>{{chat.title}}</ion-nav-title>
  <ion-content class="padding">
    <!-- <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"> -->
    <p>Description: {{chat.description}}</p>
    <p ng-class="{expired: (chat.amount < 1 && chat.amount !== undefined)}" >quantity: {{(chat.amount === undefined) ? "unlimited" : chat.amount}}</p>
    <p ng-class="{expired: chat.expired}">Expires on: {{chat.expireDatetime["iso"] | date:"medium"}}</p>
    <button class="button icon-right ion-chevron-right button-energized" ng-disabled="chat.expired || disableGet || chat.amount <= 0" ng-click="customGetCoupon()">รับคูปอง</button>
    <p> <p>
    <button class="button icon-right ion-chevron-right button-calm" ng-disabled="chat.expired || disableUse" ng-click="openQrModal()">ใช้คูปอง</button>
  </ion-content>
</ion-view>
