<ion-view view-title="Login">
  <ion-content>
    <form name="login" novalidate>
      <!-- email input -->
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="user.email" name="email" required/>
          <div ng-show="login.$submitted || login.email.$touched">
            <span ng-show="login.email.$error.required">Tell us your email.</span>
            <span ng-show="login.email.$error.email">This is not a valid email.</span>
          </div>
      </label>

      <!-- password input -->
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password" name="password" required />
        <div ng-show="login.$submitted || login.password.$touched">
          <span ng-show="login.password.$error.required">Type your password.</span>
        </div>
      </label>

      <button type="submit" class="button button-balanced button-block" ng-click="logMeIn()">Login</button>
      <button class="button button-positive button-block" ng-click="gotoRegister()">Register</button>
      <div ng-show="loginFailure"> Login failed: {{errormsg}} </div>
    </form>
  </ion-content>
</ion-view>
