<ion-view view-title="Registration">
  <ion-content>

  <form name="registration" ng-model="user.reg" novalidate>
    <!-- email input -->
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email" ng-model= "user.email" name="email" required />

        <div ng-show="registration.$submitted || registration.email.$touched">
          <span ng-show="registration.email.$error.required">Tell us your email.</span>
          <span ng-show="registration.email.$error.email">This is not a valid email.</span>
        </div>
    </label>

    <!-- password input -->
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="user.password" name="password" required />
        <div ng-show="registration.$submitted || registration.password.$touched">
          <span ng-show="registration.password.$error.required">Type your password.</span>
        </div>
    </label>

    <!-- confirm password input -->
    <label class="item item-input">
      <span class="input-label">Confirm Password</span>
      <input type="password" ng-model="user.passConfirm" name="confirmpassword" required />
        <div ng-show="registration.$submitted || registration.confirmpassword.$touched">
          <span ng-show="registration.confirmpassword.$error.required">Confirm your password.</span>
        </div>
        <span ng-show="user.password !== user.passConfirm"> Passwords don't match.</span>
    </label>
    
    <button type="submit" class="button button-positive button-block" ng-disabled="registration.$invalid" ng-click="sendToParse()">Register</button>

    <div ng-show="regSuccess">Registration Successful</div>
    <div ng-show="regFailure"> Registration failed</div>
    <!-- <div > {{registration|json}}</div> -->

    </form>
  </ion-content>
</ion-view>
