<!-- <ion-view view-title="QR">
  <ion-content>
	SAVED!
  </ion-content>
</ion-view>
 -->
<ion-modal-view>
<ion-header-bar>
  <h1 class="title">QR:&nbsp;{{qrCode}}</h1>
</ion-header-bar>
<ion-content class="padding">
  <div id="qrcode"></div>
  <button class="button button-full button-energized" ng-click="closeModal()">Done</button>
</ion-content>
</ion-modal-view>
