<ion-side-menus ng-controller='SideMenuCtrl as SmC'>
<!-- Left menu -->
  <ion-side-menu side="left">
    <a menu-close class="item" ng-show="loginStatus()">{{email()}}</a>
    <a menu-close href="#/" class="item">Home</a>
    <a menu-close ng-click="loginLogout()" class="item">{{displayLoginText()}}</a>

  </ion-side-menu>

  <ion-side-menu-content>

    <ion-nav-bar class="bar-stable bar bar-header bar-calm">

      <ion-nav-buttons side="left"> <!-- menu toggle burger button within nav bar -->
        <!-- Toggle left side menu -->
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

      <ion-nav-back-button> <!-- back button -->
      </ion-nav-back-button>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view name="menucontent">
    <!-- tabs are rendered here -->
    </ion-nav-view> 
  
  </ion-side-menu-content>
</ion-side-menus>