<ion-view view-title="Coupons">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="chat in chats | notExpired" type="item-text-wrap" href="#/tab/chats/{{chat.objectId}}">
        <!-- <img ng-src="{{chat.face}}"> -->
        <h2>{{chat.title}}</h2>
        <p ng-class="{expired: (chat.amount < 1 && chat.amount !== undefined)}">quantity: {{(chat.amount === undefined) ? "unlimited" : chat.amount}}</p> 
        <p>Expires on: {{chat.expireDatetime["iso"] | date:'medium'}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
