<ion-view view-title="Saved">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="(couponId, requests) in cr.crById" type="item-text-wrap" href="#/tab/account/{{couponId}}">
        <h2>{{requests[0].title}}</h2>
        <p ng-class="{expired: requests[0].expired}">Expires on: {{requests[0].expireDatetime["iso"] | date:'medium'}}</p>
        <p>Remaining coupons: {{unredeemedNum(requests)}}</p>
        <!-- <p ng-show="request.redeemed" class="redeemed">redeemed</p> -->
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
