<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- angular ng-messages -->
    <script src="lib/angular-messages/angular-messages.js"></script>  

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/davidshimjs-qrcodejs-540308a/qrcode.js"></script>
  </head>
  <body ng-app="starter">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-side-menus ng-controller='SideMenuCtrl as SmC'>
    <!-- Left menu -->
      <ion-side-menu side="left">
        <a menu-close class="item" ng-show="loginStatus()">{{email()}}</a>
        <a menu-close href="#/" class="item">Home</a>
        <a menu-close ng-click="loginLogout()" class="item">{{displayLoginText()}}</a>

      </ion-side-menu>

      <ion-side-menu-content>

        <ion-nav-bar class="bar-stable bar bar-header bar-calm">

          <ion-nav-buttons side="left"> <!-- menu toggle burger button within nav bar -->
            <!-- Toggle left side menu -->
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          </ion-nav-buttons>

          <ion-nav-back-button> <!-- back button -->
          </ion-nav-back-button>
        </ion-nav-bar>
        <!--
          The views will be rendered in the <ion-nav-view> directive below
          Templates are in the /templates folder (but you could also
          have templates inline in this html file if you'd like).
        -->
        <ion-nav-view>
        
        <!-- tabs are rendered here -->
        </ion-nav-view> 
      
      </ion-side-menu-content>
    </ion-side-menus>
  </body>
</html>
